.discography-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.discography {
    width: max-content !important;
    display: flex;
    flex-direction: column;
    color: #111920;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0em;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
}

.discography img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 30vw;       
}

.calendar-item {
    margin-top: 20px;
}

@media screen and (max-width: 756px) {
    .discography {
        max-width: 100px;
    }

    .discography-container {
        grid-template-columns: 1fr 1fr;
    }
}